* {
	vertical-align: middle;
}

h3 {
	padding: 16px 11px /* 15px */ 0.5rem;
	/* font-size: 1.75rem; */
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
}

iframe {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: calc(var(--inner-height) - 60px);
}

.nav-link {
	padding: 0.5rem 15px;
	cursor: pointer;
}

.nav-link-hr {
	height: 0;
	border-bottom: 1px solid var(--bs-secondary);
	padding: 0;
	margin: 5px 1rem;
}

.nav-pills,
#v-pills-tab {
	display: block;
	padding-bottom: 12px;
	overflow: auto;
	height: calc(var(--inner-height) - 72px);
	transition: all 250ms ease-in-out, height 0ms !important;
}

@media (pointer: coarse) {
	.nav-pills,
	#v-pills-tab {
		height: calc(var(--inner-height) - 120px);
	}
}

.fa-angle-left,
.bi-chevron-left {
	margin-right: 0.5em;
	cursor: pointer;
}

#nav-toggler {
	float: right;
	margin: 18px 15px 0 0;
	/* width: 48px; */
	display: none;
	/* display: block; */
	font-size: 1.5rem;
	padding: 6px 16px;
	transition: background-color 250ms ease-out;
}

#nav-toggler .bi {
	display: contents;
}

#nav-toggler .bi::before {
	vertical-align: initial;
}

#v-pills-tab {
	display: none;
}

i.fxg {
	font-family: XGame;
}

h3 .fxg {
	display: inline-block;
	font-size: 24px;
	margin-right: 8px;
}

h3 span {
	display: inline-block;
	margin-bottom: 4px;
}

button,
.pointer {
	cursor: pointer;
}

.nav-link .fxg {
	display: inline-block;
	font-size: 21px;
	margin: 0 10px 0 2px;
	transform: translateY(-2px);
}

.col-lg-3 {
	padding-right: 15px;
}

.col-lg-9 {
	padding-left: 15px;
}

@media (min-width: 992px) {
	.col-lg-3 {
		padding-right: 0;
	}

	.col-lg-9 {
		padding-left: 0;
	}

	h3 {
		padding: 16px 28px /* 32px */ 0.5rem;
	}

	.nav-link {
		padding: 0.5rem 32px;
	}

	iframe {
		height: var(--inner-height);
	}
}

.disabled,
:disabled,
[disabled] {
	pointer-events: none !important;
	user-select: none !important;
}

:root.light-font-color * {
	color: #212529 !important;
}

:root.dark-font-color * {
	color: white !important;
}

:root {
	--inner-height: 100vh;
}
