:root {
	--card-width: 75px;
	--card-height: 106px;
	--card-margin-x: 16px;
	--card-margin-y: 2px;
	--single-transition-duration: 400ms;
}

html, body {
	overflow: hidden;
}

.card-face,
.card-back {
	position: absolute;
	transform-style: preserve-3d;
}

.poker-card {
	width: var(--card-width);
	height: var(--card-height);
	transform-origin: center center;
	/* animation: rotate-poker 2s infinite linear; */
	transform-style: preserve-3d;
	transform: rotateY(180deg);
	transition: all var(--single-transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
	cursor: pointer;
	margin: var(--card-margin-y) var(--card-margin-x) var(--card-margin-y) var(--card-margin-x);
	position: absolute;
}

.poker-card.uncover {
	transform: rotateY(0deg);
}

.card-back {
	transform: rotateY(180deg) translateZ(1px);
}

@keyframes rotate-poker {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

.card-table,
.card-row {
	/* position: absolute; */
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
	/* width: calc(var(--card-width) * 3 + var(--card-margin-x) * 6); */
	width: calc(var(--card-width) * 3 + var(--card-margin-x) * 8);
}

* {
	flex-shrink: 0;
}

.card-row {
	flex-direction: row;
	height: calc(var(--card-height) + var(--card-margin-y) * 2);
}

.card-table {
	/* flex-direction: column; */
	height: calc(var(--card-height) * 7 + var(--card-margin-y) * 14);
	/* justify-content: center;
	align-items: center; */
	transform-origin: center top;
	transform: scale(1);
	transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
}

.poker-card.auto:nth-of-type(3n+1),
.poker-card.column-1 {
	left: var(--card-margin-x);
}

.poker-card.auto:nth-of-type(3n+2),
.poker-card.column-2 {
	left: calc(var(--card-width) + var(--card-margin-x) * 3);
}

.poker-card.auto:nth-of-type(3n),
.poker-card.column-3 {
	left: calc(var(--card-width) * 2 + var(--card-margin-x) * 5);
}

.poker-card.auto:nth-of-type(1),
.poker-card.auto:nth-of-type(2),
.poker-card.auto:nth-of-type(3),
.poker-card.row-1 {
	top: var(--card-margin-y);
}

.poker-card.auto:nth-of-type(4),
.poker-card.auto:nth-of-type(5),
.poker-card.auto:nth-of-type(6),
.poker-card.row-2 {
	top: calc(var(--card-height) + var(--card-margin-y) * 3);
}

.poker-card.auto:nth-of-type(7),
.poker-card.auto:nth-of-type(8),
.poker-card.auto:nth-of-type(9),
.poker-card.row-3 {
	top: calc(var(--card-height) * 2 + var(--card-margin-y) * 5);
}

.poker-card.auto:nth-of-type(10),
.poker-card.auto:nth-of-type(11),
.poker-card.auto:nth-of-type(12),
.poker-card.row-4 {
	top: calc(var(--card-height) * 3 + var(--card-margin-y) * 7);
}

.poker-card.auto:nth-of-type(13),
.poker-card.auto:nth-of-type(14),
.poker-card.auto:nth-of-type(15),
.poker-card.row-5 {
	top: calc(var(--card-height) * 4 + var(--card-margin-y) * 9);
}

.poker-card.auto:nth-of-type(16),
.poker-card.auto:nth-of-type(17),
.poker-card.auto:nth-of-type(18),
.poker-card.row-6 {
	top: calc(var(--card-height) * 5 + var(--card-margin-y) * 11);
}

.poker-card.auto:nth-of-type(19),
.poker-card.auto:nth-of-type(20),
.poker-card.auto:nth-of-type(21),
.poker-card.row-7 {
	top: calc(var(--card-height) * 6 + var(--card-margin-y) * 13);
}

.avoid-click {
	pointer-events: none;
}

#your-poker {
	font-weight: normal;
}

#answer-card {
	position: fixed;
	/* border: 1px solid purple;
	background: #f008; */
	pointer-events: none;
	width: 227px;
	height: 301px;
	left: 63px;
	top: 228px;
}

.container {
	width: 100vw;
	height: 70vh;
	max-width: unset !important;
	padding: 0;
	margin: 0;
}

.info-text {
	text-align: center;
	margin-bottom: 1rem;
}

body {
	display: flex;
	flex-direction: column;
}

.viewport {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.control-part {
	width: 100vw;
	height: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* .control-part .container-fluid *:not(#step0):not(#step0 *) {
	display: none;
} */

@media (min-width: 992px) {
	body {
		flex-direction: row;
	}
	.container {
		width: 60vw;
		height: 100vh;
	}
	.control-part {
		width: 40vw;
		height: 100vh;
	}
}