::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	scrollbar-arrow-color: red;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: rgba(var(--text-color-parts), 0.2);
	scrollbar-arrow-color: red;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 0;
	background: rgba(var(--text-color-parts), 0.1);
}
