::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	scrollbar-arrow-color: red;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: rgba(0, 0, 0, 0.2);
	scrollbar-arrow-color: red;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 0;
	background: rgba(0, 0, 0, 0.1);
}

:root[data-theme="dark"] ::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.2);
}

:root[data-theme="dark"] ::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0.1);
}
